<script>
	import logo from "./paperpawner-logo.svg";

	// 	import Modal from "./bulma-stuff/Modal.svelte";
	// 	import ImageBox from "./ImageBox.svelte";
	// 	import Positioner from "./Positioner.svelte";

	import { ButtonGroup, Button as BButton } from "sveltestrap";

	import Splash from "./Splash.svelte";
	import DBMaintenance from "./DBMaintenance.svelte";
	import UploadImage from "./UploadImage.svelte";
	import ImageList from "./ImageList.svelte";
	import AllImageList from "./AllImageList.svelte";
	import FilterableImageList from "./FilterableImageList.svelte";
	import AllCreaturesList from "./AllCreaturesList.svelte";
	import PawnOutput from "./PawnOutput.svelte";
	import PHashPairs from "./PHashPairs.svelte";
	import SequenceTagger from "./SequenceTagger.svelte";
	import PouchDBErrorChecker from "./PouchDBErrorChecker.svelte";
	// 	import FilteredImageList from "./FilteredImageList.svelte";

	import Icon from "svelte-awesome";
	import {
		upload,
		tags,
		clone,
		image,
		paw,
		print,
		wrench,
	} from "svelte-awesome/icons";

	let tabComponent = Splash;

	let dropdownIsOpen = false;

	// 	let image = { id: "6d433baf-4e87-4e54-924d-a8460a2a8705" };

	// 	let image = {"id":"400b3c9d-d6fc-4223-8c1f-b58d61cf762e","fileinfo":{"type":"pdf","name":"Scenario 2-01 Before the Dawn-Part I The Bloodcove Disguise.pdf","page":1,"pageName":""},"name":"img_p0_3","type":"ImageXObject","tags":["PFS"],"hidden":0};

	// 	import 'bootstrap/dist/css/bootstrap.min.css';
</script>

<style>
	/* 	@import url("bulma.min.css"); */
	@import url("bootstrap.min.css");

	h1 {
		/* 		color: purple; */
		text-align: center;
		size: 150%;
	}

	.active-tab {
		margin: 1em;
	}

	@media print {
		h1 {
			font-size: 0.5cm;
		}

		.no-print {
			display: none;
		}

		/* Undo bootstrap tweaking the page size */
		@page {
			size: A4;
		}
		:global(body) {
			min-width: inherit !important;
		}
	}
</style>

<h1>
	<img src={logo} style="height:1.25em" />
	&nbsp;PaperPawner
</h1>

<!--<TabsContainer>
	<TabItem on:click="{event => activeTab = event}" label="Upload" />
	<TabItem on:click="{event => activeTab = event}" label="All Images" />-->
<!-- 	<TabItem on:click="{event => activeTab = event}" label="Filtered Images" /> -->
<!--<TabItem on:click="{event => activeTab = event}" label="Creatures" />
	<TabItem on:click="{event => activeTab = event}" label="Current pawns" />
	<TabItem on:click="{event => activeTab = event}" label="Configuration" />
</TabsContainer>-->

<ButtonGroup>
	<BButton
		on:click={() => (tabComponent = UploadImage)}
		active={tabComponent === UploadImage}>
		<Icon data={upload} />
		&nbsp;Upload
	</BButton>
	<BButton
		on:click={() => (tabComponent = SequenceTagger)}
		active={tabComponent === SequenceTagger}>
		<Icon data={tags} />
		&nbsp;Sequence Tagger
	</BButton>
	<BButton
		on:click={() => (tabComponent = PHashPairs)}
		active={tabComponent === PHashPairs}>
		<Icon data={clone} />
		&nbsp;Duplicate finder
	</BButton>
	<BButton
		on:click={() => (tabComponent = FilterableImageList)}
		active={tabComponent === FilterableImageList}>
		<Icon data={image} />
		&nbsp;Manage images
	</BButton>
	<BButton
		on:click={() => (tabComponent = AllCreaturesList)}
		active={tabComponent === AllCreaturesList}>
		<Icon data={paw} />
		&nbsp;Manage creatures
	</BButton>
	<BButton
		on:click={() => (tabComponent = PawnOutput)}
		active={tabComponent === PawnOutput}>
		<Icon data={print} />
		&nbsp;Print pawns
	</BButton>
	<BButton
		on:click={() => (tabComponent = DBMaintenance)}
		active={tabComponent === DBMaintenance}>
		<Icon data={wrench} />
		&nbsp;DB Maintenance
	</BButton>
</ButtonGroup>

<!--<nav class="no-print">
	<button on:click={() => (tabComponent = UploadImage)}><Icon data={upload}/>&nbsp;Upload</button>
	<button on:click={() => (tabComponent = SequenceTagger)}><Icon data={image}/>&nbsp;Sequence tagger</button>
	<button on:click={() => (tabComponent = PHashPairs)}><Icon data={image}/>&nbsp;Duplicate finder</button>
	<button on:click={() => (tabComponent = FilterableImageList)}><Icon data={image}/>&nbsp;
		Filterable Images
	</button>
	<button on:click={() => (tabComponent = AllCreaturesList)}><Icon data={paw}/>&nbsp;All Creatures</button>
	<button on:click={() => (tabComponent = PawnOutput)}><Icon data={print}/>&nbsp;Current pawns</button>
	<button on:click={() => (tabComponent = DBMaintenance)}><Icon data={wrench}/>&nbsp;DB Maintenance</button>
</nav>-->

<section class="active-tab">
	<svelte:component this={tabComponent} />
</section>

<PouchDBErrorChecker />
<!-- <Positioner id="{image.id}" /> -->

<!-- <ImageBox {image} /> -->
