<script>
	import { createEventDispatcher } from "svelte";

	const dispatch = createEventDispatcher();

	// 	import PouchDB from "./../node_modules/pouchdb/dist/pouchdb.js";
	import { Button, Modal, ModalBody, ModalFooter, ModalHeader } from "sveltestrap";

	import FileInfo from "./FileInfo.svelte";
	import FullImage from "./FullImage.svelte";
	import TagList from "./TagInput/TagList.svelte";
	import Positioner from "./Positioner.svelte";
	import { updateImage, updateCreature } from "./dbUtils.js";
	import ScreenHelp from "./Controls/ScreenHelp.svelte";

	const imagesDb = new PouchDB("images");

	export let active = false;
	export let tags = [];
	export let id = "";
	export let fileinfo = {};
	export let imageName = "";
	export let name = "";
	export let creatureId;

	let x1, x2, y1, y2;
	let baseWidth = 25; // Width of the pawn base, in millimeters

	function ok() {
		const creatureInfo = {
			// 			imageId: id,
			name,
			// 			_id: name,
			baseWidth: Number(baseWidth),
			tags,
			x1,
			x2,
			y1,
			y2,
			pawnCount: 0,
		};

		updateCreature(id, creatureId, creatureInfo)
			.then((posted) => {
				console.log(`Sent creature to DB: ${id}/${posted}`);
			})
			// 			.then(() => {
			// 				console.log(`Sent creature to DB: ${posted.id}`);
			// 			})
			.catch((err) => {
				console.warn(`Could not send creature/image to DB: ${err}`);
			})
			.then(() => {
				dispatch("createCreature", {
					name,
					baseWidth,
					tags,
					x1,
					x2,
					y1,
					y2,
				});
			});
		active = false;
	}
</script>

<style>
	.modal-dialog {
		/* 		max-width: 75vw; */
	}
</style>

<Modal
	style="min-height: 600px; min-width:75vw;"
	isOpen={active}
	toggle={() => (active = false)}>
	<ModalHeader>New creature from image</ModalHeader>
	<ModalBody>

		<ScreenHelp title="Creating a creature">
			<p>
				You are now creating a creature from an image. You need to set the
				size of the pawn's base, give the creature a name, and align the
				image.
			</p>
			<p>
				Pawn base sizes follow the Pathfinder creature size convention The
				base of a Medium creature represents 5 feet (or about 1.5 meters),
				and when printed it will measure 25mm (or about 1 inch).
			</p>
			<p>
				Drag the image so that the feet are at ground level (in case of no
				feet, align whatever part should be touching the ground to ground
				level). Feel free to move flying creatures up off the ground level.
			</p>
			<p>
				Drag the square box at the top-right corner of the image to resize
				the image.
			</p>
			<p>
				Use the human silouette and the red line for size reference. The red
				line is aligned at eye level, which translates to 28mm when printed.
				Following this standard makes paper pawns the same scale as
				28mm-scale miniatures.
			</p>
			<p>
				Once you've created some creatures, you can go to the "creatures"
				section to select some of them for printing.
			</p>
		</ScreenHelp>

		<FileInfo {fileinfo} name={imageName} />

		<div>
			<label>
				Creature size (width of pawn's base):
				<select name="baseWidth" bind:value={baseWidth}>
					<option value="2.5">Fine (0.5ft = 0.15m / 0.1in = 2.5mm)</option>
					<option value="5">Diminutive (1ft = 0.3m / 0.2in = 5mm)</option>
					<option value="12.5">
						Tiny (2.5ft = 0.75m / 0.5in = 12.5mm)
					</option>
					<option value="18.75" selected>
						Small (3.75ft = 1.125m / 0.75in = 18.75mm)
					</option>
					<option value="25" selected>
						Medium (5ft = 1.5m / 1in = 25mm)
					</option>
					<option value="32">Heroic</option>
					<option value="40">Oversize</option>
					<option value="50">Large (10ft = 3m / 2in = 50mm)</option>
					<option value="75">Huge (15ft = 4.5m / 3in = 75mm)</option>
					<option value="100">Gargantuan (20ft = 6m / 4in = 100mm)</option>
					<option value="150">Collosal (30ft = 9m / 6in = 150mm)</option>
				</select>
			</label>
		</div>
		<div>
			<label>
				Creature name:
				<input type="text" name="name" bind:value={name} />
			</label>
		</div>
		<!--		<div>
			<label>
				Image tags (click to edit):
				<TagList bind:tags />
			</label>
		</div>-->

		<Positioner
			bind:x1
			bind:x2
			bind:y1
			bind:y2
			bind:baseWidth
			{id}
			style="width: 100%; height: 50vh" />
	</ModalBody>
	<ModalFooter>
		<Button color="sucess" on:click={ok}>Save</Button>
		<Button on:click={() => (active = false)}>Cancel</Button>
	</ModalFooter>
</Modal>
