<script context="module">
	// 	import PouchDB from "./../node_modules/pouchdb/dist/pouchdb.js";
	const db = new PouchDB("images");
</script>

<script>
	import { hammingDistance } from "./blockhash.mjs";
	// 	import ThumbnailImage from "./ThumbnailImage.svelte";
	import PHashPair from "./PHashPair.svelte";
	import { Spinner } from "sveltestrap";
	import ScreenHelp from "./Controls/ScreenHelp.svelte";

	const images = db
		.allDocs({
			include_docs: true,
		})
		.then((dbset) => {
			return dbset.rows.map((img) => ({
				id: img.id,
				fileinfo: img.doc.fileinfo,
				name: img.doc.name,
				tags: img.tags,
				phash: img.doc.phash,
				creatures: img.doc.creatures,
				width: img.doc.width,
				height: img.doc.height,
			}));
		});

	const imageDict = images.then((images) => {
		const dict = {};
		for (let img in images) {
			dict[img.id] = img;
		}
		return dict;
	});

	let totalCount = 0;
	let currentCount = 0;

	const distances = images.then((imgs) => {
		totalCount = (Math.pow(imgs.length, 2) - imgs.length) / 2;

		return imgs
			.map((img1) =>
				imgs
					.filter((img2) => img1.phash < img2.phash)
					.map((img2) => {
						currentCount = currentCount + 1;
						// 						console.log(currentCount, '/', totalCount );
						return {
							id1: img1.id,
							id2: img2.id,
							distance: hammingDistance(img1.phash, img2.phash),
						};
					})
			)
			.flat()
			.sort((a, b) => a.distance - b.distance);
	});

	// 	distances.then((ds) => console.log(ds));

	let idx = 0;
	function skip(offset = 1) {
		if (idx < totalCount - 1) {
			distances.then((dists) => {
				Promise.all([
					db.get(dists[idx + offset].id1),
					db.get(dists[idx + offset].id2),
				])
					.then(([i1, i2]) => {
						// 					console.log('Going forward by ', offset, ' pairs');
						idx = idx + offset;
					})
					.catch(() => {
						// 					console.log('Skipping pair because a candidate has already been deleted');
						skip(offset + 1);
					});
			});
		}
	}
</script>

<style>

</style>

<ScreenHelp title="Duplicate finder">
	<p>
		A quick way of deleting duplicated images. If there are few images, you can
		skip this step and go directly to the "Filterable Images" section.
	</p>
	<p>
		In some game PDFs, some images are duplicated but not exactly he same: they
		are cropped differently, or maybe they have a bit of image noise, or maybe
		the same artwork is used in several PDFs. Paperpawner interprets these as
		different images.
	</p>
	<p>
		Paperpawner uses something called
		<em>perceptual hashing</em>
		(from the
		<a href="https://github.com/commonsmachinery/blockhash-js">blockhash</a>
		library) in an effort to
		<em>try</em>
		and detect duplicates or near-duplicates.
	</p>
	<p>
		Duplicate detection is far from perfect, but this should help you find and
		clean up most of the duplicates. Starting with the pair of images with the
		most similar
		<em>perceptual hashes</em>
		, you can delete one of them, or ignore that pair.
	</p>
	<p>
		Most duplicates should be pairs of images with a
		<em>hamming distance</em>
		(an abstract measure of how different the images
		<em>should</em>
		look) of less than 50.
	</p>
</ScreenHelp>

{#await distances}
	<!--<progress
	style="min-width:40vw"
	class="progress"
	value="{currentCount}"
	max="{totalCount}"
	>{currentCount} / {totalCount}</progress
>{currentCount} / {totalCount}-->
	<Spinner />
{:then dists}
	<!-- {dists} -->
	<!-- {Object.keys(dists).length} -->
	{#if dists.length}
		<!--<div>
	<button on:click="{()=>skip()}">Skip</button>
</div>-->
		<p>Browsing pair {idx + 1} out of {totalCount}</p>
		<p>
			Current hamming distance between perceptual hashes: {dists[idx].distance}
		</p>
		<!-- {dists[idx].id2} -->

		<PHashPair
			id1={dists[idx].id1}
			id2={dists[idx].id2}
			on:next={() => skip()} />
	{:else}No images to compare.{/if}
{/await}
