<script context="module">
	// 	import PouchDB from "./../node_modules/pouchdb/dist/pouchdb.js";
	const db = new PouchDB("images");
</script>

<script>
	import { Spinner } from "sveltestrap";
	import { createEventDispatcher } from "svelte";
	const dispatch = createEventDispatcher();

	// 	import { hammingDistance } from "blockhash";
	import ThumbnailImage from "./ThumbnailImage.svelte";

	export let id1;
	export let id2;

	let img1, img2;
	$: img1 = db.get(id1); //.catch(skip);
	$: img2 = db.get(id2); //.catch(skip);

	function deleteImg(id) {
		db.get(id).then((doc) => {
			db.remove(doc).then(() => {
				skip();
			});
		});
	}

	let disabled = false;
	function skip() {
		disabled = true;
		dispatch("next");

		// Prevent accidental deletions by double-clicking on buttons
		setTimeout(() => (disabled = false), 250);
	}

	let img1isBigger;
	$: img1isBigger = Promise.all([img1, img2]).then(
		([i1, i2]) => i1.width * i1.height > i2.width * i2.height
	);
</script>

<style>
	span.candidate {
		display: inline-block;
		width: 45vw;
		border: 1px solid black;
		vertical-align: top;
	}

	span.left {
		text-align: right;
	}

	span.right {
		text-align: left;
	}

	div.bigger {
		font-weight: bold;
	}
</style>

<div style="text-align:center">
	<div>
		<!-- <button on:click={skip}>Skip</button> -->
		<button class="btn btn-outline-primary" on:click={skip} {disabled}>
			Skip
		</button>
	</div>
	<span class="candidate left">
		<ThumbnailImage id={id1} />

		<div>
			{#await img1}
				<Spinner />
			{:then img}
				<button
					disabled={disabled || img.creatures > 0}
					class="btn btn-outline-danger"
					on:click={() => deleteImg(img._id)}>
					Delete
				</button>
				<br />
				<!-- {img._id}<br/> -->
				{img.fileinfo.name} / page {img.fileinfo.page}
				<br />
				{#await img1isBigger}
					<Spinner />
				{:then i1b}
					<div class={i1b ? 'bigger' : ''}>{img.width}x{img.height}px</div>
				{/await}
				{#if img.creatures == 1}
					<div>1 creature exists.</div>
				{/if}
				{#if img.creatures > 1}
					<div>{img.creatures} creatures exist.</div>
				{/if}
			{:catch}
				Image already deleted
			{/await}
		</div>
	</span>
	<span class="candidate right">
		<ThumbnailImage id={id2} />

		<div>
			{#await img2}
				<Spinner />
			{:then img}
				<button
					disabled={disabled || img.creatures > 0}
					class="btn btn-outline-danger"
					on:click={() => deleteImg(img._id)}>
					Delete
				</button>
				<br />
				<!-- {img._id}<br/> -->
				{img.fileinfo.name} / page {img.fileinfo.page}
				<br />
				{#await img1isBigger}
					<Spinner />
				{:then i1b}
					<div class={i1b ? '' : 'bigger'}>{img.width}x{img.height}px</div>
				{/await}
				{#if img.creatures == 1}
					<div>1 creature exists.</div>
				{/if}
				{#if img.creatures > 1}
					<div>{img.creatures} creatures exist.</div>
				{/if}
			{:catch}
				Image already deleted
			{/await}
		</div>
	</span>
</div>
