<script>
	// 	import Modal from "./bulma-stuff/Modal.svelte";
	import { Button, Modal, ModalBody, ModalFooter, ModalHeader } from "sveltestrap";

	import { createEventDispatcher } from "svelte";
	const dispatch = createEventDispatcher();

	export let active;
</script>

<!--
<Modal bind:active on:ok color="danger">
	<span slot="title">Are you sure?</span>
	<span slot="content"><slot name="content">Foobar</slot></span>
	<span slot="success">Yes</span> <span slot="cancel">No</span>
</Modal>-->

<Modal isOpen={active} toggle={() => (active = false)}>
	<ModalHeader>Are you sure?</ModalHeader>
	<ModalBody>
		<slot name="content">Foobar</slot>
	</ModalBody>
	<ModalFooter>
		<Button color="danger" on:click={() => dispatch('ok')}>Yes</Button>
		<Button on:click={() => (active = false)}>Cancel</Button>
	</ModalFooter>
</Modal>
