<script>
	// 	import PouchDB from "./../node_modules/pouchdb/dist/pouchdb.js";
	// 	const db = new PouchDB("images");
	import { getThumbnailBlob } from "./dbUtils.js";
	import { Spinner } from "sveltestrap";

	export let id;
	export let style = "";

	let img;
	$: img = getThumbnailBlob(id);
</script>

<style>
	span {
		width: 15em;
		height: 15em;
		border: 1px solid grey;
		text-align: center;
		display: inline-block;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		text-align: center;
		vertical-align: middle;
	}
</style>

<span {style}>
	{#await img}
		<Spinner />
	{:then loadedsrc}
		<img src={loadedsrc} alt="" />
	{:catch err}
		Something went wrong when fetching the image :-(
	{/await}
</span>
